<?xml version="1.0" encoding="UTF-8"?>

<web-app id="damacanan"
		 version="5.0"
		 xmlns="https://jakarta.ee/xml/ns/jakartaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">

	<display-name>DamacaNaN JSP</display-name>
	<description>Homework</description>

	<welcome-file-list>
		<welcome-file>/jsp/enterance.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>servlet.MessageServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/message/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>servlet.PostServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/post/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PostFilesServlet</servlet-name>
		<servlet-class>servlet.PostFilesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PostFilesServlet</servlet-name>
		<url-pattern>/postFiles/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>servlet.CategoryServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/category/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SubCategoryServlet</servlet-name>
		<servlet-class>servlet.SubCategoryServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SubCategoryServlet</servlet-name>
		<url-pattern>/subcategory/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReviewServlet</servlet-name>
		<servlet-class>servlet.ReviewServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ReviewServlet</servlet-name>
		<url-pattern>/review/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FavouritesServlet</servlet-name>
		<servlet-class>servlet.FavouritesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FavouritesServlet</servlet-name>
		<url-pattern>/favourite/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>servlet.UserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PermissionServlet</servlet-name>
		<servlet-class>servlet.PermissionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PermissionServlet</servlet-name>
		<url-pattern>/permission/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ActionLogServlet</servlet-name>
		<servlet-class>servlet.ActionLogServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ActionLogServlet</servlet-name>
		<url-pattern>/actionlog/*</url-pattern>
	</servlet-mapping>



</web-app>
