<?xml version="1.0" encoding="UTF-8"?>

<web-app id="damacanan"
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">

	<display-name>DamacaNaN JSP</display-name>
	<description>Homework</description>

	<welcome-file-list>
		<welcome-file>/jsp/add-post.jsp</welcome-file>
	</welcome-file-list>

	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/post/*</url-pattern>
	</servlet-mapping>

</web-app>
